In [2]:
import pandas as pd
import glob
import os

files = glob.glob("../data/*.csv")   # or stock_data/*.csv â€” use your folder name

combined = []

for file in files:
    df = pd.read_csv(file)

    # extract only the ticker (just the filename)
    ticker = os.path.basename(file).replace(".csv", "")
    df["ticker"] = ticker  # now it's AAPL, GOOG, etc.

    df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
    df = df.dropna(subset=["Date"])
    combined.append(df)

merged_df = pd.concat(combined, ignore_index=True)
merged_df = merged_df.sort_values(["Date", "ticker"])

merged_df.to_csv("cleaned_stocks.csv", index=False)

merged_df.head()

            Date      Close       High        Low       Open     Volume ticker
0     2009-01-02   2.721686   2.730385   2.554037   2.575630  746015200   AAPL
3774  2009-01-02   2.718000   2.726500   2.553500   2.567500  145928000   AMZN
7548  2009-01-02   7.948608   7.960977   7.557264   7.633949  144961322   GOOG
14245 2009-01-02  14.872976  14.924187  14.170662  14.287715   50084000   MSFT
18019 2009-01-02   0.199652   0.201027   0.184294   0.184982  497124000   NVDA